One Hot Encoding

In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv(r"C:\Users\UAE LAPTOP BAZAR\Downloads\cars.csv")
df.head(5)

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [7]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

Train Test Split

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=42)

In [15]:
X_train.head(5)

        brand  km_driven    fuel                 owner
6518     Tata       2560  Petrol           First Owner
6144    Honda      80000  Petrol          Second Owner
6381  Hyundai     150000  Diesel  Fourth & Above Owner
438    Maruti     120000  Diesel          Second Owner
5939   Maruti      25000  Petrol           First Owner

In [16]:
y_train.head(5)

6518    520000
6144    300000
6381    380000
438     530000
5939    335000
Name: selling_price, dtype: int64

One Hot Encoding on fual and owner

In [29]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first')
#drop='first' removes the first category of each feature to avoid dummy variable trap
#dummy variable trap occurs when one category is perfectly predicted by the other categories

In [27]:
x_train_new=ohe.fit_transform(X_train[['fuel','owner']]).toarray()
x_train_new

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.]], shape=(6502, 7))

In [28]:
x_test_new=ohe.fit_transform(X_test[['fuel','owner']]).toarray()
x_test_new

array([[0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.]], shape=(1626, 7))

Combine with nphstack

In [31]:
#hstack to combine the new features with the original features
nphstack=np.hstack((X_train[['brand','km_driven']],x_train_new))
nphstack

array([['Tata', 2560, 0.0, ..., 0.0, 0.0, 0.0],
       ['Honda', 80000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Hyundai', 150000, 1.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Hyundai', 35000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 27000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 70000, 0.0, ..., 1.0, 0.0, 0.0]],
      shape=(6502, 9), dtype=object)

One Hot Encoding on brand

In [33]:
count=df['brand'].value_counts()

In [34]:
limit=100

In [35]:
count[count>limit]

brand
Maruti        2448
Hyundai       1415
Mahindra       772
Tata           734
Toyota         488
Honda          467
Ford           397
Chevrolet      230
Renault        228
Volkswagen     186
BMW            120
Skoda          105
Name: count, dtype: int64

In [40]:
rplc=count[count<limit]
rplc

brand
Nissan           81
Jaguar           71
Volvo            67
Datsun           65
Mercedes-Benz    54
Fiat             47
Audi             40
Lexus            34
Jeep             31
Mitsubishi       14
Land              6
Force             6
Isuzu             5
Ambassador        4
Kia               4
MG                3
Daewoo            3
Ashok             1
Opel              1
Peugeot           1
Name: count, dtype: int64

In [46]:
rplc = count[count < limit].index.tolist()

In [47]:
df['brand'] = df['brand'].replace(rplc, 'other')

In [53]:
dummy=pd.get_dummies(df['brand'].replace(rplc, 'other'),dtype='int64') 
dummy

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,other
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0